{% extends "base.html" %}
{% block content %}
<div class="card shadow-sm p-4">
  <h2 class="mb-3 text-center">Verse of the Day</h2>
  <blockquote class="blockquote text-center">
    <p class="mb-0 fs-4">"{{ verse_text }}"</p>
    <footer class="blockquote-footer mt-2">{{ verse_ref }}</footer>
    <!-- Audio player -->
    {% if audio_path %}
      <audio controls class="w-100 my-3">
        <source src="{{ url_for('play_audio', path=audio_path) }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    {% endif %}
  </blockquote>

  
</div>
{% endblock %}